@charset "UTF-8";
html{
    height: 1150px;
    width: 100%;
}
main {
    width: 100%;
    height: 100%;
}
.outerDiv{
    width: 100%;
    height: 100%;
}
.innerDiv{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
